.color-line {
    background: #1f3983;
    background-image: none;
}

#toast-container > div{
    padding: 10px;
}

#toast-container.toast-bottom-center > div, #toast-container.toast-top-center > div {
    margin: 20px auto 0;
}

.table{
    font-size: 11px;
}

.table .th-input{
    padding: 3px;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
}

.table .th-input input, .table .th-input select{
    font-size: 11px;
    font-weight: normal;
}

.table thead tr th{
    background-color: #ccc;
    color: #333;
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
    font-weight: normal;
}

.table tbody tr td{
    padding: 5px 10px;
}

.pagination{
    margin: 0px;
}

.pagination > li > a, .pagination > li > span {
    padding: 5px 10px;
}

.required{
    color: red;
}

#logo.light-version span {
    font-weight: bold;
}